{% extends "template.html" %}
{% load crispy_forms_tags %}
{% load django_bootstrap_breadcrumbs %}
{% load static %}

{% block title %}Settings{% endblock %}

{% block breadcrumbs %}
    {% breadcrumb "Settings" "settings" %}
    {% breadcrumb "Leagues Moderating" "leagues_moderating" %}
    {% breadcrumb league.name "league_settings" league.id %}
    {% breadcrumb "League Configuration" "league_configuration" league.id %}
    {% breadcrumb subleague.name "subleague_configuration" league.id subleague.id %}
    {% breadcrumb "Conferences and Divisions" "conferences_and_divisions" league.id subleague.id %}
{% endblock %}

{% block body %}
<div class="row bg-darkcolor text-light rounded mt-2">
    <div class="col-12 mt-3">{% render_breadcrumbs "breadcrumbs.html" %}</div>
    <div class="col-12">
        <table class="table table-sm bg-lightcolor text-center"> 
            <tr><th>Conferences</th></tr>
            {% if conferences %}
            {% for conference in conferences %}
            <tr><th>{{ conference.conference }} <a href="{% url 'delete_conference' league_id=league.id subleague_id=subleague.id conference_id=conference.id %}" class="btn btn-danger btn-sm">Delete</a></th></tr>
            {% endfor %}
            {% endif %}
            <tr>
                <td class="d-flex justify-content-center">
                    <form method= 'post' class="bg-lightcolor text-dark form-inline">
                        {% crispy conference_form %}
                    </form>
                </td>
            </tr>
            <tr><th>Divisons (Optional)</th></tr>
            {% if divisions %}
            {% for division in divisions %}
            <tr><th>{{ division.division }} <a href="{% url 'delete_division' league_id=league.id subleague_id=subleague.id division_id=division.id %}" class="btn btn-danger btn-sm">Delete</a></th></tr>
            {% endfor %}
            {% endif %}
            <tr>
                <td class="d-flex justify-content-center">
                    <form method= 'post' class="form-inline" action="{% url 'add_division' league_id=league.id subleague_id=subleague.id %}">
                        {% crispy division_form %}
                    </form>
                </td>
            </tr>
        </table>
    </div>
</div>
{% endblock %}
{% block script %}
{% endblock %}