{% extends "template.html" %}
{% load static %}
{% load django_bootstrap_breadcrumbs %}

{% block title %}Settings{% endblock %}

{% block breadcrumbs %}
    {% breadcrumb "Settings" "settings" %}
    {% breadcrumb "Teams Coaching" "Teams_coaching" %}
{% endblock %}

{% block body %}
<div class="row bg-darkcolor text-light text-center rounded mt-2">
    <div class="col-12 mt-3">{% render_breadcrumbs "breadcrumbs.html" %}</div>
    <div class="col-12">
        <table class="table table-sm bg-lightcolor mb-3">
            {% for team in teams_coaching %}
            <tr>
                <td><a href="{% url 'team_coaching_settings' team_id=team.id %}">{{team.season.subleague.league.name}} ({{team.season.subleague.league.abbreviation}})-{{team.season.subleague.name}}:{{ team.teamname }} ({{ team.teamabbreviation }})</a></td>
            </tr>
            {% endfor %}
        </table>
    </div>
</div>
{% endblock %}