{% extends "template.html" %}
{% load crispy_forms_tags %}
{% load django_bootstrap_breadcrumbs %}
{% load static %}
{% load extratags %}

{% block title %}{{ league.abbreviation }}-{{subleague.name}} Draft{% endblock %}

{% block body %}
<div class="row bg-darkcolor text-light rounded mt-2">
    <div class="col-3 d-none d-sm-flex justify-content-start"><img class="headerimage" src="{{league.logo}}"></div>
    <div class="col justify-content-center d-flex align-items-center">
        <div class="text-center">
            <div><h4>{{ league.name }} ({{ league.abbreviation }})</h4></div>
            <div><h5>{{ subleague.name }}</h5></div>
            <div><h5>Auction Draft</h5></div>
            <div hidden id="timer">{{ drafttimer }}</div>
        </div>
    </div>
    <div class="col-3 d-none d-sm-flex justify-content-end"><img class="headerimage" src="{{league.logo}}"></div>
</div>
<div class="row bg-darkcolor text-light rounded mt-2 pt-3 align-items-center">
    <div class="col-md">
        <table class="table table-sm bg-lightcolor text-dark text-center">
            <tr>
                <th>Points Used</th>
                <td>{{ pointsused }}</td>
            </tr>
            <tr>
                <th>Points Available</th>
                <td>{{ pointsavailable }}</td>
            </tr>
            <tr>
                <th>Slots Used</th>
                <td>{{ slotsused }}</td>
            </tr>
            <tr>
                <th>Slots Remaining</th>
                <td>{{ slotsavailable }}</td>
            </tr>
        </table>
    </div>
    <div class="col-md">
        <table class="table table-sm bg-lightcolor text-dark text-center">
            <tr>
                <th colspan="2">Current Bids</th>
            </tr>
            <tr>
                <th>Pokemon</th>
                <th>Amount</th>
            </tr>
            {% for bid in currentbids %}
            <tr>
                <td><img class="smallimage" src="{{ bid.pokemon.sprite }}">{{ bid.pokemon.name }}</td>
                <td>{{ bid.amount }}</td>
            </tr>
            {% endfor %}
        </table>
    </div>
    <div class="col-md">
        <table class="table table-sm bg-lightcolor text-dark text-center">
            <tr>
                <th colspan="2">Current Draft</th>
            </tr>
            <tr>
                <th>Pokemon</th>
                <th>Amount</th>
            </tr>
            {% for pokemon in currentpicks %}
            <tr>
                <td><img class="smallimage" src="{{ pokemon.pokemon.sprite }}">{{ pokemon.pokemon.name }}</td>
                <td>{{ pokemon.points }}</td>
            </tr>
            {% endfor %}
        </table>
    </div>
</div>
<div class="row bg-darkcolor text-light rounded mt-2 pt-3">
    {% if withbids or unavailablepokemon %}
    <div class="col-md">
        {% if withbids %}
        <h4>Pokemon Under Active Bidding ({{ withbids|length }})</h4>
        <table class="table table-sm bg-lightcolor text-dark text-center text-small">
            <thead>
                <tr>
                    <th>Pokemon</th>
                    <th>Current Bid</th>
                    <th>Time Left</th>
                    {% if candraft %}
                    <th>Bid</th>
                    <th>Action</th>
                    {% endif %}
                </tr>
            </thead>
            <tbody>
                {% for pokemon in withbids %}
                <form method="post" action="{% url 'place_bid' league_id=league.id subleague_id=subleague.id %}">{% csrf_token %}
                <tr>
                    <td>
                        <div><img class="smallimage" src="{{ pokemon.pokemon.sprite }}"></div>
                        <div>{{ pokemon.pokemon.name }}</div>
                        
                    </td>
                    <td><div>{{ pokemon.amount }}</div></td>
                    <td class="timerem"><span class="timeleft"></span><span hidden class="picktime">{{ pokemon.picktime|date:"U" }}</span></td>
                    {% if candraft %} 
                    <td>
                        <input hidden name="pokemon" class="form-control" value="{{ pokemon.pokemon.id }}">
                        <input name="bidamount" class="form-control" type="number" value="{{ pokemon.amount|add:1 }}" min="{{ pokemon.amount|add:1 }}" max="{{ maxbid }}" size="20">
                    </td>
                    <td><input type="submit" class="btn btn-primary" value="Bid"></td>
                    {% endif %}
                </tr>
                </form>
                {% endfor %}
            </tbody>
        </table>
        {% endif %}
        {% if unavailablepokemon %}
        <h4>Pokemon With Completed Bidding ({{ unavailablepokemon|length }})</h4>
        <table class="table table-sm bg-lightcolor text-dark text-center text-small">
            <thead>
                <tr>
                    <th>Pokemon</th>
                    <th>Winning Bid</th>
                </tr>
            </thead>
            <tbody>
                {% for pokemon in unavailablepokemon %}
                <form method="post" action="{% url 'place_bid' league_id=league.id subleague_id=subleague.id %}">{% csrf_token %}
                <tr>
                    <td>
                        <div><img class="smallimage" src="{{ pokemon.pokemon.sprite }}"></div>
                        <div>{{ pokemon.pokemon.name }}</div>
                    </td>
                    <td><div>{{ pokemon.points }}</div></td>
                </tr>
                </form>
                {% endfor %}
            </tbody>
        </table>
        {% endif %}
        {% if request.user in season.league.moderators.all %}
        <table class="table table-sm bg-lightcolor text-dark text-center text-small">
            <thead>
                <tr>
                    <th>Coach</th>
                    <th>Slots Used</th>
                </tr>
            </thead>
            <tbody>
            {% for un, team, slots in coachslots%}
                <tr>
                    <td>{{ team }} ({{ un }})</td>
                    <td>{{ slots }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        {% endif %} 
    </div>
    {% endif %}
    {% if nobids %}
    <div class="col-md">
        <h4>Pokemon With No Bids</h4>
        <table class="table table-sm bg-lightcolor text-dark text-center text-small">
            <thead>
                <tr>
                    <th>Pokemon</th>
                    {% if candraft %}
                    <th>Bid</th>
                    <th>Action</th>
                    {% endif %}
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td colspan="100%">
                        <input id="search" class="form-control" placeholder="Search">
                    </td>
                </tr>
                {% for pokemon in nobids %}
                <form method="post" action="{% url 'place_bid' league_id=league.id subleague_id=subleague.id %}">{% csrf_token %}
                <tr class="nobidrow">
                    <td>
                        <div><img class="smallimage" src="{{ pokemon.sprite }}"></div>
                        <div class="nobidname">{{ pokemon.name }}</div>
                    </td>
                    {% if candraft %}
                    <td>
                        <input hidden name="pokemon" class="form-control" value="{{ pokemon.id }}">
                        <input name="bidamount" class="form-control" type="number" value="1" min="1" max="{{ maxbid }}">
                    </td>
                    <td><input type="submit" class="btn btn-primary" value="Bid"></td>
                    {% endif %}
                </tr>
                </form>
                {% endfor %}
            </tbody>
        </table>
    </div>
    {% endif %}
</div>
{% endblock %}
{% block script %}
<script src="{% static 'scripts/draft_auction.js' %}"></script>
{% endblock %}