{% extends "template.html" %}
{% load crispy_forms_tags %}
{% load django_bootstrap_breadcrumbs %}
{% load static %}

{% block title %}{{ league.abbreviation }}-{{subleague.name}} Trading{% endblock %}

{% block body %}
<div class="row bg-darkcolor text-light rounded mt-2">
    <div class="col-3 d-none d-md-flex justify-content-start"><img class="headerimage" src="{{league.logo}}"></div>
    <div class="col-12 col-md-6 justify-content-center d-flex align-items-center">
        <div class="text-center">
            <div><h4>{{ league.name }} ({{ league.abbreviation }})</h4></div>
            <div><h5>{{ subleague.name }}</h5></div>
            <div><h5>Trading</h5></div>
            <div><h5>Remaining Transactions: {{remaining}}</h5></div>
        </div>
    </div>
    <div class="col-3 d-none d-md-flex justify-content-end"><img class="headerimage" src="{{league.logo}}"></div>
</div>
{% if remaining > 0 %}
<div class="row bg-darkcolor text-light rounded mt-2 pt-3">
    {% if sentrequests or receivedrequests %}
    <div class="col-md-8">
    {% if sentrequests %}
    <table class="table table-sm text-center bg-lightcolor">
        <tr><th colspan="100%" class="bg-intermediatecolor text-light">Sent Requests</th></tr>
        <tr><th>Trade Partner</th><th>Offered Pokemon</th><th>Requested Pokemon</th><th>Actions</th></tr>
        {% for item in sentrequests %}
        <tr>
            <td>{{item.requestedpokemon.team.teamname}}</td>
            <td>{{item.offeredpokemon.pokemon.name}}</td>
            <td>{{item.requestedpokemon.pokemon.name}}</td>
            <td>
                <form method="post" action="{% url 'trading_actions' league_id=league.id subleague_id=subleague.id %}">{% csrf_token %}
                    <input name="id" value="{{item.id}}" hidden readonly>
                    <input name="action" type="submit" class="btn btn-sm btn-warning" value="Rescind"> 
                </form>
            </td>
        </tr>
        {% endfor %}
    </table>
    {% endif %}
    {% if receivedrequests %}
    <table class="table table-sm text-center bg-lightcolor">
        <tr><th colspan="100%" class="bg-intermediatecolor text-light">Received Requests</th></tr>
        <tr><th>Trade Partner</th><th>Offered Pokemon</th><th>Requested Pokemon</th><th>Actions</th></tr>
        {% for item in receivedrequests %}
        <tr>
            <td>{{item.offeredpokemon.team.teamname}}</td>
            <td>{{item.offeredpokemon.pokemon.name}}</td>
            <td>{{item.requestedpokemon.pokemon.name}}</td>
            <td class="d-flex justify-content-around">
                <form method="post" action="{% url 'trading_actions' league_id=league.id subleague_id=subleague.id %}">{% csrf_token %}
                    <input name="id" value="{{item.id}}" hidden readonly>
                    <input name="action" type="submit" class="btn btn-sm btn-success" value="Accept"> 
                </form>
                <form method="post" action="{% url 'trading_actions' league_id=league.id subleague_id=subleague.id %}">{% csrf_token %}
                    <input name="id" value="{{item.id}}" hidden readonly>
                    <input name="action" type="submit" class="btn btn-sm btn-danger" value="Decline"> 
                </form>
            </td>
        </tr>
        {% endfor %}
    </table>
    {% endif %}
    </div>
    <div class="col-md-4">
        <h4>Create New Trade Request</h4>
        {% crispy form %}
    </div>
    {% else %}
    <div class="col-12">
        {% crispy form %}
    </div>
    {% endif %}
</div>
{% endif %}
{% if pending_trades or executed_trades %}
<div class="row bg-darkcolor text-light rounded mt-2 pt-3">
    <div class="col-12">
        <table class="table table-sm bg-lightcolor text-center">
            {% if pending_trades %}
            <tr class="bg-intermediatecolor text-light"><th colspan="5">Pending Trades</th></tr>
            <tr class="bg-intermediatecolor text-light">
                <th>Traded Pokemon</th>
                <th>From</th>
                <th>To</th>
                <th>For</th>
                <th>Week Effective</th>
            </tr>
            {% for a,b in pending_trades %}
            <tr>
                <td><img class="smallimage" src="{{a.dropped_pokemon.sprite}}">{{a.dropped_pokemon.name}}</td>
                <td><img class="smallimage" src="{{a.team.logo}}">{{a.team.teamname}} ({{a.team.teamabbreviation}})</td>
                <td><img class="smallimage" src="{{b.team.logo}}">{{b.team.teamname}} ({{b.team.teamabbreviation}})</td>
                <td><img class="smallimage" src="{{a.added_pokemon.sprite}}">{{a.added_pokemon.name}}</td>
                <td>{{a.weekeffective}}</td>
            </tr>
            {% endfor %}
            {% endif %}
            {% if executed_trades %}
            <tr class="bg-intermediatecolor text-light"><th colspan="5">Completed Trades</th></tr>
            <tr class="bg-intermediatecolor text-light">
                <th>Traded Pokemon</th>
                <th>From</th>
                <th>To</th>
                <th>For</th>
                <th>Week Effective</th>
            </tr>
            {% for a,b in executed_trades %}
            <tr>
                <td><img class="smallimage" src="{{a.dropped_pokemon.sprite}}">{{a.dropped_pokemon.name}}</td>
                <td><img class="smallimage" src="{{a.team.logo}}">{{a.team.teamname}} ({{a.team.teamabbreviation}})</td>
                <td><img class="smallimage" src="{{b.team.logo}}">{{b.team.teamname}} ({{b.team.teamabbreviation}})</td>
                <td><img class="smallimage" src="{{a.added_pokemon.sprite}}">{{a.added_pokemon.name}}</td>
                <td>{{a.weekeffective}}</td>
            </tr>
            {% endfor %}
            {% endif %}
        </table>
    </div>
</div>
{% endif %}
{% endblock %}
{% block script %}
{% endblock %}