{% extends "template.html" %}
{% load static %}
{% load django_bootstrap_breadcrumbs %}
{% load crispy_forms_tags %}

{% block title %}Settings{% endblock %}

{% block breadcrumbs %}
    {% breadcrumb "Settings" "settings" %}
    {% breadcrumb "User Settings" "user_settings" %}
{% endblock %}

{% block body %}
<div class="row bg-darkcolor text-light text-center rounded mt-2">
    <div class="col-12 mt-3">{% render_breadcrumbs "breadcrumbs.html" %}</div>
    <div class="col-12">
        <form method="post">
            {% crispy form %}
        </form>
    </div>
</div>
{% endblock %}