{% extends "template.html" %}
{% load static %}

{% block title %}Pokemon Draft League Online{% endblock %}

{% block body %}
{% if user.is_authenticated %}
<div class="row align-items-center bg-darkcolor text-light text-center mt-2 rounded">
    <div class="col-md-6 p-2">
        <img src="{% static 'images/pdllogo.png' %}" alt="">
    </div>
    <div class="col-md-6">
        <h4>Welcome to Pokemon Draft League Online!</h4>
        <div>This is a website designed to assist in running and participating in Pokemon Draft Leagues.</div>
    </div>
</div>
<div class="row align-items-center bg-darkcolor text-light text-center mt-2 rounded">
    <div class="col-6 my-2">
        <a class="btn btn-primary" href="{% url 'create_league' %}">Create A League</a>
    </div>
    <div class="col-6 my-2">
        <a class="btn btn-primary" href="{% url 'league_list' %}">Join A League</a>
    </div>
</div>
{% else %}
<div class="row align-items-center bg-darkcolor text-light text-center mt-2 rounded">
    <div class="col-md-6 p-2">
        <img src="{% static 'images/pdllogo.png' %}" alt="">
    </div>
    <div class="col-md-6">
        <h4>Welcome to Pokemon Draft League Online!</h4>
        <div>This is a website designed to assist in running and participating in Pokemon Draft Leagues.</div>
        <a class="btn bg-discord text-white" href="{% url 'discordlogin' %}"><img src="{% static 'images/discord_logo.jpg' %}" class="smallimage" alt="">Login With Discord</a>
    </div>
</div>
{% endif %}
<div class="row align-items-center bg-darkcolor text-light text-center mt-2 rounded">
    <div class="col-12">
        <table class="table table-sm bg-lightcolor mt-3">
            <tr>
                <th>League</th>
                <th>Status</th>
                <th>Socials</th>
            </tr>
            {% for league in all_leagues %}
            <tr>
                <td><a href="{% url 'league_home' league_id=league.id %}"><img class="smallimage" src="{{league.logo}}">{{league.name}} ({{league.abbreviation}})</a></td>
                <td>
                    {% if league.status == 'Recruiting Coaches' %}
                        <a href="{% url 'apply' league_id=league.id %}">Apply</i></a>
                    {% else %}
                        {{ league.status }}
                    {% endif %}
                </td>
                <td>
                    {% if league.discordurl %}
                        <a href="{{league.discordurl}}"><i class="fab fa-discord"></i></a>
                    {% endif %}
                </td>
            </tr>
            {% endfor %}
        </table>
    </div>
</div>
{% endblock %}