{% load static %}
{% load extratags %}
<nav class="navbar navbar-expand-sm navbar-dark bg-darkcolor">
    <a class="navbar-brand" href="{% url 'home' %}"><img src="{% static 'images/pdllogo.png' %}" class="mediumimage" alt=""></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <div class="navbar-nav mr-auto">
            <div class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="" id="navbarDropdownMenuLink" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                    Tools
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    <a class="dropdown-item" href="{% url 'draft_planner' %}">Draft Planner</a>
                    <a class="dropdown-item" href="{% url 'pokedex' %}">Pokedex</a>
                    <a class="dropdown-item" href="{% url 'replay_analyzer' %}">Replay Analyzer</a>
                </div>
            </div>
        </div>
    </div>
    {% if user.is_authenticated %}
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <div class="navbar-nav ml-auto">
            <div class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="" id="navbarDropdownMenuLink" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                    <image src={{user|getpfp}} class="rounded-circle navbarpfp">
                </a>
                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">
                    <a class="dropdown-item" href="{% url 'logout' %}">Logout</a>
                </div>
            </div>
        </div>
    </div>
    {% else %}
    <div class="navbar-nav ml-auto">
        <a class="nav-item nav-link btn bg-discord text-white" href="{% url 'discordlogin' %}"><img src="{% static 'images/discord_logo.jpg' %}" class="smallimage" alt="">Login</a>
    </div>
    {% endif %}
</nav>